{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<h1>Liste des Produits</h1>

<table class="table table-bordered">
<tr class="table-info">
<th>Identifiant</th>
<th>Libellé</th>
<th>Quantité</th>
<th>Gammme</th>
</tr>


    {% for article in articles %}
    <tr>
    {% for item in article %}
        <td>{{ item }}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}
